{% extends 'base.html' %}

{% block title %} blogHome {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}

<div class="container my-4 ">
<h1 >Blog Posts : </h1>
{% for  post in allPosts %}
    <div class="col-md-60 my-4 bg-light">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        
          <strong class="d-inline-block mb-2 text-success">Article by {{post.author}}</strong>
         <h3 class="mb-0"><a class="text-dark" href ="/blog/{{post.slug}}"> {{post.title}} </a></h3>
          <div class="mb-1 text-muted">{{ post.timestamp}}</div>
          <p class="mb-auto">{{post.content|truncatechars:500}}</p><br><br>
          <a href="/blog/{{post.slug}}"><button type="button" class="btn btn-outline-secondary">Continue reading</button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
		 <img class ="bd-placeholder-img" width ="" height="" src ="/" alt="">       
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock body %}